@using EmployeeManegmentSystem.Controllers;
@*@model EmployeeManegmentSystem.Models.Employee;*@
@model EmployeeManegmentSystem.View_Models.EmployeeDetailsVM;



<h1>@Model.PageTitle</h1>


@*<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id </th>
            <th>Name </th>
            <th> Email</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Employee.Id</td>
            <td>@Model.Employee.Name</td>
            <td>@Model.Employee.Email</td>
            <td>@Model.Employee.Department</td>
        </tr>
    </tbody>
</table>*@

@{ 
    var photopasth= "~/images/"+(Model.Employee.PhotoPath ??"noimage.jpg");
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photopasth" asp-append-version="true" />

                <h4>Employee ID : @Model.Employee.Id</h4>
                <h4>Email : @Model.Employee.Email</h4>
                <h4>Department : @Model.Employee.Department</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-controller="Employee" asp-action="Index" class="btn btn-primary">Back</a>
                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Employee" asp-action="Delete" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

